################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCore.ConsoleApp/bin/Debug/net5.0
/NetCore.ConsoleApp/obj
/NetCore.Mensajeria.BL/bin/Debug/net5.0
/NetCore.Mensajeria.BL/obj
/NetCore.ConsoleApp/.vs/NetCore.ConsoleApp/v16
/.vs
/ClassLibrary1/obj
/NetCore.ConsoleApp/.vs/NetCore.ConsoleApp/DesignTimeBuild
/NetCore.ConsoleApp/Topico.NetCore.Sakila.Model/bin/Debug/net5.0
/NetCore.ConsoleApp/Topico.NetCore.Sakila.Model/obj
/NetCore.ConsoleApp/Topicos.NetCore.NorthWind.Model/bin/Debug/net5.0
/NetCore.ConsoleApp/Topicos.NetCore.NorthWind.Model/obj
/NetCore.Convertidor/obj
/NetCore.Convertidor/.vs/NetCore.Convertidor
/NetCore.ConsoleApp/.vs/NetCore.ConsoleApp/config
/NetCore.ConsoleApp/NetCore.ConsoleApp/obj
/NetCore.ConsoleApp/NetCore.Mensajeria.BL/obj
/NetCore.ConsoleApp/Topicos.NetCore.API.AdventureWorks/bin/Debug/net5.0
/NetCore.ConsoleApp/Topicos.NetCore.API.AdventureWorks/obj
/NetCore.ConsoleApp/Topicos.NetCore.API.Sakila/bin/Debug/net5.0
/NetCore.ConsoleApp/Topicos.NetCore.API.Sakila/obj
/NetCore.ConsoleApp/Topicos.NetCore.NorthWind.BL/obj
/NetCore.ConsoleApp/Topicos.NetCore.Proyecto1/bin/Debug/net5.0
/NetCore.ConsoleApp/Topicos.NetCore.Proyecto1/obj
/NetCore.ConsoleApp/Topicos.NetCore.Sakila.BL/obj
